################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/prepixo/config
/.vs/prepixo/CopilotIndices/17.13.444.19527
/.vs/prepixo/FileContentIndex
*.sqlite
/.vs/prepixo/v17
